.countries-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "PingFang TC";
    font-size: 15px;

    input {
      border: 0;
      border-bottom: 1px solid #EEEEEE;
      width: 150px;
      height: 50px;
      padding-left: 5px;

      &:focus {
          outline: none;
      }
    }

    .countries-list {
        ul {
            list-style-type: none;
        }

        li {
            text-align: left;
            float: left;
            margin: 2px;
            border: 1px solid #abc;
            width: 250px;
            height: 40px;
            vertical-align: middle;
            padding: 5px;
            cursor: pointer;

            &:hover {
                background-color: #abc;
            }

            div {
              height: 40px;
              vertical-align: middle;
              display: table-cell;
            }
        }
    }
}